<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConStrMySqlHome" connectionString="server=127.0.0.1;uid=root;pwd=prabhat@0707;database=mayavi" providerName="MySql.Data.MySqlClient"/>
    <add name="ConStrMySql" connectionString="Server=148.72.232.182;port=3306;Database=ph13758926861;User ID=ph13758926861;Password=ph13758926861" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <trust level="Full" originUrl=""/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"></customErrors>
  </system.web>
</configuration>
